@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 47 43% 91%;
    --foreground: 280 15% 20%;
    --card: 47 43% 91%;
    --card-foreground: 280 15% 20%;
    --popover: 47 43% 91%;
    --popover-foreground: 280 15% 20%;
    --primary: 280 36% 27%;
    --primary-foreground: 47 43% 98%;
    --secondary: 47 25% 88%;
    --secondary-foreground: 280 15% 20%;
    --muted: 47 25% 88%;
    --muted-foreground: 280 10% 45%;
    --accent: 38 52% 81%;
    --accent-foreground: 280 20% 22%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 47 20% 80%;
    --input: 47 20% 80%;
    --ring: 280 36% 27%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 12%;
    --foreground: 47 43% 91%;
    --card: 0 0% 12%;
    --card-foreground: 47 43% 91%;
    --popover: 0 0% 12%;
    --popover-foreground: 47 43% 91%;
    --primary: 38 52% 81%;
    --primary-foreground: 280 20% 15%;
    --secondary: 0 0% 16%;
    --secondary-foreground: 47 43% 91%;
    --muted: 0 0% 16%;
    --muted-foreground: 47 20% 75%;
    --accent: 280 36% 27%;
    --accent-foreground: 47 43% 91%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 38 52% 81%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    @apply min-h-screen;
  }
}
